## What are Lambda Functions ?

* In Python, ```anonymous function is a function that is defined without a name.```

* While normal functions are defined using the def keyword, in Python ```anonymous functions are defined using the lambda keyword.```

* Hence, ```anonymous functions are also called lambda functions.```

***In this Tutorial, We are going to cover, these Topics Mentioned Below***

* Basic Example of Lambda Function.
* Using Lambda Function on a list.
* Manipulating Dataframes using Lambda Functions.
* Using Apply Function with Lambda Functions.
* Directly Applying Lambda Functions.

### Let's take basic Examples to understad how to use Lambda functions in python

In [2]:
# lets make a simple lambda function to check how it works

# lets make a simple arithmetic function
function = lambda x: x*10+23-9

# lets take a input to check the output
function(56)

574

In [2]:
# let's make a list on which we will perform our Operation

x = [5, 6, 7, 8, 9, 2]

# operation to return the squares of all the numbers
z = lambda a: a**2

# printing the result
for i in x:
    print(z(i))

25
36
49
64
81
4

In [6]:
import pandas as pd

x = pd.DataFrame(x)
x.apply(z)

    0
0  25
1  36
2  49
3  64
4  81
5   4

## Manipulating Dataframes using Lambda Functions

In [4]:
# lets import the basic Libraries

import numpy as np
import pandas as pd

In [5]:
# lets import the dataset that we are going to use

data = pd.read_csv('Datasets/employee.csv')

# lets also check the shape of the dataset
print(data.shape)

(1470, 35)

In [6]:
# let's check the dataset

data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

#### Using Apply Function with Lambda Functions

In [7]:
# lets try to use Lambda functions in Dataframes

def Old(x):
    return x > 35 
 
data['Age'] = data['Age'].apply(Old)
data['Age'].value_counts()

True     741
False    729
Name: Age, dtype: int64

In [8]:
# lets try some more fun operations

def dollar_to_rupees(x):
    return x*75    # converting dollars into rupees

data['MonthlyRate'] = data['MonthlyRate'].apply(dollar_to_rupees)
data['MonthlyRate'].mean()

1073482.7551020407

In [9]:
# lets convert rupees back to dollars using lambda function 

def rupees_to_dollar(x):
    return x/75

data['MonthlyRate'] = data['MonthlyRate'].apply(rupees_to_dollar)
data['MonthlyRate'].mean()

14313.103401360544

In [10]:
# lets try something more complicated

def experience_categorization(x):
    if x <= 2:
        return 'novice'
    elif x > 2 and x <= 5:
        return 'intermediate'
    elif x > 5:
        return 'experienced'
    
data['TotalWorkingYears'] = data['TotalWorkingYears'].apply(experience_categorization)
data['TotalWorkingYears'].value_counts()

experienced     1154
intermediate     193
novice           123
Name: TotalWorkingYears, dtype: int64

In [11]:
# lets try one more function

def distance_from_home(x):
    if x <= 2:
        return 'Near'
    elif x > 2 and x <=5:
        return 'Far'
    elif x >5:
        return 'Extremely Far'

data['DistanceFromHome'] = data['DistanceFromHome'].apply(distance_from_home)
data['DistanceFromHome'].value_counts()

Extremely Far    838
Near             419
Far              213
Name: DistanceFromHome, dtype: int64

#### Directly Applying Lambda Functions

In [12]:
# lets take an example how to directly apply lambda Functions

data['StandardHours'] = data['StandardHours'].apply(lambda x: x/10)
print(data['StandardHours'])

0       8.0
1       8.0
2       8.0
3       8.0
4       8.0
       ...
1465    8.0
1466    8.0
1467    8.0
1468    8.0
1469    8.0
Name: StandardHours, Length: 1470, dtype: float64